@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Intelligent Tutoring System</h1>
    <p>An educational platform that goes beyond conventional teaching methods, empowering students to reach their full potential through personalized, adaptive, and interactive learning experiences.
        <br />
        <img src="images/home-pg-pic.png" />
    </p>
</div>

