html {
    font-family: 'Roboto', sans-serif;
    background: #f5f5f5;
    padding: 1rem;
  }
  
  body {
    /* max-width: 960px; */
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  h1 {
    font-family: 'Montserrat', sans-serif;
    color: #377ba8;
    margin: 1.5rem 0;
  }
  
  a {
    color: #377ba8;
    text-decoration: none;
  }
  
  hr {
    border: none;
    border-top: 1px solid lightgray;
  }
  
  nav {
    background: #377ba8;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 5px 5px 0 0;
  }
  
  nav h1 {
    flex: auto;
    margin: 0;
  }
  
  nav h1 a {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li a,
  nav ul li span,
  header .action {
    display: block;
    padding: 1rem;
    font-size: 1rem;
  }
  
  .content {
    padding: 1rem;
  }
  
  .content > header {
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: flex-end;
  }
  
  .content > header h1 {
    flex: auto;
    margin: 1rem 0 0.5rem 0;
    font-size: 2rem;
  }
  
  .flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
    border-radius: 5px;
  }
  
  .post > header {
    display: flex;
    align-items: flex-end;
    font-size: 0.85em;
  }
  
  .post > header > div:first-of-type {
    flex: auto;
  }
  
  .post > header h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  
  .post .about {
    color: slategray;
    font-style: italic;
  }
  
  .post .body {
    white-space: pre-line;
  }
  
  .content:last-child {
    margin-bottom: 0;
  }
  
  .content form {
    margin: 1em 0;
  }
  
  .content label {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  
  .content input,
  .content textarea {
    margin-bottom: 1em;
    padding: 0.5rem;
    border: 1px solid lightgray;
    border-radius: 3px;
  }
  
  .content textarea {
    min-height: 12em;
    resize: vertical;
  }
  
  input[type='submit'] {
    align-self: start;
    min-width: 10em;
    padding: 0.75rem 1rem;
    background: #377ba8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  input[type='submit']:hover {
    background: #4e90bf;
  }
  .home-page-image{
    border-radius: 10%;
  }
  .testimonials-section{
    border: black;
    border-style: solid;
    border-radius: 15px;
  }

  .benefits-section {
    padding: 40px 0;
  }

  .benefit-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .benefit-icon {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #f0f0f0;
  }

  .benefit-icon img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
  }

  .rounded-img {
    border-radius: 45%;
  }

  .benefit-item p {
    margin: 0;
    font-size: 16px;
    text-align: left;
  }
  .course-details {
    border: 1px solid black;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}


.course_description{
  opacity: 100%;
}

.math-wrap {
  position: relative;
}

.math-bg {
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 114%;
  z-index: -0.5;
  border-radius: 15px;
}

.earth-wrap {
  position: relative;
}

.earth-bg {
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 114%;
  z-index: -0.5;
  border-radius: 15px;
}

.english-wrap {
  position: relative;
}

.english-bg {
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 114%;
  z-index: -0.5;
  border-radius: 15px;
}

.course-earth-science {
    background-image: url("/earth-science-course.avif");
}

.course-english {
    background-image: url("/english-course.avif");
}

  @media (max-width: 767px) {
    .benefit-item {
      flex-direction: column;
      text-align: center;
    }

    .benefit-icon {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  