{% extends 'base.html' %}

{% block title %}Course Details{% endblock %}

{% block content %}
<div class="container mt-4">
  <h2>Course Details</h2>
  <ul>
    <li id="course_id" data-value="{{ course.id }}">Course ID: {{ course.id }}</li>
    <li>Course Name: {{ course.name }}</li>
  </ul>

  {% if enrolled %}
    <p>Enrollment Status: Enrolled</p>
  <p>Selected Topics:</p>
  <ul>
    {% for topic in topics %}
    <li>{{topic.topic}}</li>
    {% endfor %}
  </ul>
  <p>Available Topics:</p>
  <ul>
    {% for avt in available_topics %}
    <li>{{ avt.topic }}</li>
    {% endfor %}
  </ul>
    <button id="learn" class="btn btn-primary mt-3">Learn</button>
  {% else %}
    <p>Enrollment Status: Not Enrolled</p>
    <button id="enroll-button" class="btn btn-primary mt-3">Enroll in Course</button>
    <p id="enrollment-status" class="mt-2"></p>
    <p href="#" id="refresh-link" class="btn btn-link mt-3"></p>
  {% endif %}
  
</div>

<script> 
document.addEventListener('DOMContentLoaded', function() {
const course_id = document.getElementById('course_id').getAttribute('data-value');
const refreshLink = document.getElementById('refresh-link');
  // Function to enroll the user in the course
  function enrollUserInCourse(course_id) {
    fetch('/api/course/enroll', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json' 
      },
      body: JSON.stringify({
        course_id: course_id
      })
    })
    .then(response => response.json())
    .then(data => {
      if (data.id.toString() === course_id) {
        document.getElementById('enrollment-status').textContent = 'Successfully Enrolled!';
        document.getElementById('enroll-button').disabled = true;
        refreshLink.href = window.location.href;
        refreshLink.textContent = "GO to the course"   
      } else {
        document.getElementById('enrollment-status').textContent = 'Enrollment Failed. Please try again.';
      }
    })
    .catch(error => {
      console.error('Error enrolling in the course:', error);
      document.getElementById('enrollment-status').textContent = 'Enrollment Failed. Please try again.';
    });
  }
  // Add event listener for the Enroll button click
//   document.getElementById('enroll-button').addEventListener('click', function() {
//     console.log(course_id);
//     enrollUserInCourse(course_id); // Pass the course ID to the enrollUserInCourse function

//   });
  const enrollButton = document.getElementById('enroll-button');
  if (enrollButton) {
    enrollButton.addEventListener('click', function() {
        console.log(course_id);
        enrollUserInCourse(course_id); // Pass the course ID to the enrollUserInCourse function
    });
  }
  // Add event listener for the Take Test button click
  const takeTestButton = document.getElementById('learn');
  if (takeTestButton) {
    takeTestButton.addEventListener('click', function() {
        window.location.href = `/learning?course_id=${course_id}`; // Redirect to the "/userTest" page
    });
  }
//   document.getElementById('learn').addEventListener('click', function() {
//     window.location.href = `/learning?course_id=${course_id}`; // Redirect to the "/userTest" page
//   });
});
  
</script>
{% endblock %}
