{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron text-center mt-5">
  <h1>Welcome to Your Intelligent Tutoring System</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et ligula a ligula gravida semper. Aenean bibendum in dolor vel vestibulum.</p>
  <a class="btn btn-primary" href="#" role="button">Learn More</a>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et ligula a ligula gravida semper. Aenean bibendum in dolor vel vestibulum. Etiam nec bibendum erat. Nam ac tincidunt velit, quis facilisis est.</p>
    </div>
    <div class="col-md-6">
      <h2>Contact Us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et ligula a ligula gravida semper. Aenean bibendum in dolor vel vestibulum. Etiam nec bibendum erat. Nam ac tincidunt velit, quis facilisis est.</p>
    </div>
  </div>
</div>
{% endblock %}
