{% extends 'base.html' %}

{% block title %}
  Intelligent Tutoring System - Home
{% endblock %}

{% block content %}
<div class="container my-5">
  <div class="hero-section text-center">
    <h1>Welcome to Intelligent Tutoring System</h1>
    <p>Your personalized learning journey starts here!</p>
    <div class="home-page-image">
      <img src="{{ url_for('static', filename='its.avif') }}" class="rounded-corners">
    </div>
    <a href="/courses" class="btn btn-primary mt-3">Browse Courses</a>
  </div>
</div>
{% endblock %}

{% block testimonials %}
<div class="testimonials-section">
  <div class="container text-center">
    <h2>What Our Students might Say</h2>
    <br>
    <div class="row">
      <div class="col-md-4">
        <div class="testimonial rounded-block">
          <p>"The Intelligent Tutoring System has revolutionized the way I study."</p>
          <div class="testimonial-author">
            <p>- John </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="testimonial rounded-block">
          <p>"As a busy person, I needed a flexible and efficient way to improve my skills. "</p>
          <div class="testimonial-author">
            <p>- Emily </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="testimonial rounded-block">
          <p>"I was struggling with math, but the tutoring system's learning materials and practice exercises helped me. I'm more confident now."</p>
          <div class="testimonial-author">
            <p>- Bob </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block benefits %}
<div class="benefits-section">
  <div class="container text-center">
    <h2>Benefits of Our Tutoring System</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="benefit-item">
          <div class="benefit-icon rounded-circle">
            <img src="{{ url_for('static', filename='strength.png') }}" alt="Personalized Learning" class="rounded-img">
          </div>
          <p>Personalized learning to your needs</p>
        </div>
        <div class="benefit-item">
          <div class="benefit-icon rounded-circle">
            <img src="{{ url_for('static', filename='availability.png') }}" alt="24/7 Access" class="rounded-img">
          </div>
          <p>24/7 access to materials and practice exercises</p>
        </div>
        <div class="benefit-item">
          <div class="benefit-icon rounded-circle">
            <img src="{{ url_for('static', filename='working-hours.png') }}" alt="Self Schedule" class="rounded-img">
          </div>
          <p>Study sessions with ultimate flexibility</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="benefit-item">
          <div class="benefit-icon rounded-circle">
            <img src="{{ url_for('static', filename='time-tracking.png') }}" alt="Progress Tracking" class="rounded-img">
          </div>
          <p>Progress tracking and performance analytics</p>
        </div>
        <div class="benefit-item">
          <div class="benefit-icon rounded-circle">
            <img src="{{ url_for('static', filename='choose.png') }}" alt="Interactive Quizzes" class="rounded-img">
          </div>
          <p>Quizzes for better understanding</p>
        </div>
        <div class="benefit-item">
          <div class="benefit-icon rounded-circle">
            <img src="{{ url_for('static', filename='leader.png') }}" alt="Expert Tutors" class="rounded-img">
          </div>
          <p>Will have expert tutors available for live online sessions in future</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


