@{
    ViewData["Title"] = "Maths";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Maths101</h1>
</div>

<div id="maths101" class="course-container justify-content-center"></div>

<script>
    
</script>

